

#map { 
        height: 365px;
        width: 960px;
        margin-bottom: 1em;
}

.leaflet-popup-content ul { padding-left: 1.5em; }

.circle { visibility: hidden; }
.circle.selected { visibility: visible; }

svg {
  font: 10px sans-serif;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}