ControlMaster auto
#ControlPath /tmp/%r@%h:%p
ControlPersist yes

Host cw2-admin
    HostName 104.155.226.230
    ProxyCommand           none
    IdentityFile ~/.ssh/google_compute_engine
    UserKnownHostsFile=/dev/null
    CheckHostIP=no
    StrictHostKeyChecking=no

Host *
    ProxyCommand ssh -q -A 104.155.226.230 -W %h:%p
    IdentityFile ~/.ssh/google_compute_engine
    UserKnownHostsFile=/dev/null
    CheckHostIP=no
    StrictHostKeyChecking=no